<div class="header">
<div class ="logo">
<%= link_to "OniEvents", events_path%>
</div>
<div class="searchbar">
    <%= image_tag "searchbar.png", height: 20 %>
    <p>Search events</p>
</div>
<div class="header_links">
    <div>
        <%=link_to "Events index", events_path%>
    </div>
    <div>
        <%=link_to "New event", new_event_path%>
    </div>
    <div>
        <% if user_signed_in?%>
        <%= link_to "My Events", user_path(current_user.id)%>
        <%end%>
    </div>
</div>
</div>

