

<div class ="align_body_container">
    <div class="body_container" >
    <%# <%if @events %> %>
        <%# <% @events.each do |event|  %>  %>
        <%# <div class ="event_container"> %>
        <%# <div class = "event_image"> %>
            <%# <%= image_tag "event.jpg", height:150 %> %>
        <%# </div> %>
            <%# <div class="event_text"> %>
                <%# <div> %>
                <%# <%= event.title %>  %>
                <%# </div> %>
                <%# <div> %>
                <%# Location: <%= event.location %>  %>
                <%# </div> %>
                <%# <div> %>
                <%# Date: <%= event.date.to_formatted_s(:short) %>  %>
                <%# </div> %>
            <%# </div> %>
        <%# <%= link_to "View Event", event_path(event) %>  %>
        <%# </div> %>
<%#  %>
        <%# <%end%> %>
    <%# <%end%> %>


    <% @date = Date.today %>
    <% @past = Event.where("date > #{@date}")%>
        <% @past.each do |past_event| %>
    <div class ="event_container">
    <div class = "event_image">
            <%= image_tag "event.jpg", height:150 %>
        </div>
        <%=past_event.title%>
     </div>

        <%end%>
    <%@future = Event.where("date <= #{@date}")%>
    <%@future.each do |future_event| %>
        <div class ="event_container">
        <div class = "event_image">
            <%= image_tag "event.jpg", height:150 %>
        </div>
        <div class ="event_text">
            <%= future_event.title%>
        </div>
        </div>

    <%end%>


  
    </div>
    </div>



