

<div class ="align_body_container">
    <div class="body_container" >
            <% @date = Date.today %>
            <% @past = Event.where("date < #{@date}")%>
                        <h2>Past events<h2>

            <div class="past">

                <% Event.past.each do |event| %>
                <div class ="event_container">
                                <div class = "event_image">
                                    <%= image_tag "event.jpg", height:150 %>
                                </div>
                                <div class="event_text">
                                        <div>
                                        <%= event.title  %>
                                        </div>
                                        <div>
                                        Location: <%= event.location  %>
                                        </div>
                                        <div>
                                        Date: <%= event.date.to_formatted_s(:short)  %>
                                        </div>
                                </div>
                    <%= link_to "View Event", event_path(event)  %>
                </div>

                <%end%>
            </div>
                <%@future = Event.where("date >= #{@date}")%>
                                    <h2>Future events<h2>

                <div class = "future">
                <% Event.future.each do |event| %>
                    <div class ="event_container">
                                    <div class = "event_image">
                                            <%= image_tag "event.jpg", height:150 %>
                                    </div>
                                    <div class="event_text">
                                            <div>
                                            <%= event.title  %>
                                            </div>
                                            <div>
                                            Location: <%= event.location  %>
                                            </div>
                                            <div>
                                            Date: <%= event.date.to_formatted_s(:short)  %>
                                            <%= Date.today < event.date%>

                                            </div>
                                        </div>
                        <%= link_to "View Event", event_path(event)  %>
                    </div>

                    <%end%>
            </div>

  
    </div>
</div>



