<div><%=@event%></div>    
<div><%=@event.title%></div>
<div><%=@event.description%></div>
<div><%=@event.date%></div>
<div><%=@event.location%></div>
<%= form_with model: @invite do |form|%>
<%=form.submit "Attend!"%>
<%end%>




