<div><%=@event%></div>    
<div><%=@event.title%></div>
<div><%=@event.description%></div>
<div><%=@event.date%></div>
<div><%=@event.location%></div>
<%=button_to "Attend", invites_path(event_id: @event.id)%>
<div>Attendees:</div>
<%@event.attendees.each do |attendee|%>
<%=attendee.name if attendee.name!= nil %>
<%end %>





