<div class ="events_show_body_cont">
<div class ="events_show_container">

    <div class ="event_title">
        <%=@event.title%>
    </div>
    
<div class = "event_image">
            <%= image_tag "event.jpg", height:150 %>
        </div>
<div>Description: <%=@event.description%></div>
<div>Date: <%=@event.date.to_formatted_s(:short)%></div>
<div>Location: <%=@event.location%></div>
<% if @event.invites.find_by attendee_id: current_user.id %>
<%@invite = @event.invites.find_by attendee_id: current_user.id%>
     <%# <%= link_to "No longer interested", invite_path(id: @invite.id, event_id: @event.id), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                        }, class: "delete_event" %> %>

                        <%= button_to "No longer interested", @invite, :method => :delete, class:"delete_event"%>
                        
    <% else %>
<%=button_to "Attend", invites_path(event_id: @event.id), data: { turbo: false }%>
<%end %>
<div>Attendees:</div>
<%@event.attendees.each do |attendee|%>
<%if attendee.name%>
<%=attendee.name%>
<%end%>
<%end %>
<%if current_user.id == @event.creator_id%>
        <%= button_to "Delete Event", @event, :method => :delete, class:"delete_event" %>
<%end%>
 <div class ="event_edit">
        <%if current_user.id == @event.creator_id%>
        <%= link_to "Edit", edit_event_path(@event)%>
        <%end%>
    </div>

</div>
</div>





