<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%=link_to "Events index", events_path%>
        <%=link_to "New event", new_event_path%>

    
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>


    <%= yield %>
  </body>
</html>
